<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         coverage-html="true">

    <testsuites>
        <testsuite name="SampleTests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="junit.xml"/>
        <!-- <log type="json" target="testlog.json"/> -->
        <log type="coverage-html" target="codeCoverage" charset="UTF-8"
             yui="true" highlight="true"
             lowUpperBound="50" highLowerBound="80"/>
    </logging>
    <filter>
        <blacklist>
            <directory >./vendor</directory>
            <directory >./tests</directory>
        </blacklist>
    </filter>
</phpunit>